:root {
    box-sizing: border-box;
    background-color: #f9fafb;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    color: #1f2937;
}

a {
    text-decoration: none;
    color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20vw;
    height: 50px;
    background-color: #d4d4d8;
}

.title {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;
}

.icons i {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 10px;
}

.search_here {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding: 25px 20vw;
}

.search_here input {
    width: 250px;
    font-size: 0.85rem;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

.search_here i {
    cursor: pointer;
    font-size: 1.2rem;
}

.data-field {
    padding: 25px 20vw;
}

.dta {
    font-size: 2rem;
    font-weight: bold;
}

.cell {
    margin-top: 25px;
}

.weather-n-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
}

.column {
    padding: 15px;
    flex: 1;
}

.forcast-column {
    margin-top: 30px;
}

.show8data {
    margin-top: 25px;
    cursor: pointer;
    color: #f9fafb;
    background-color: #1e293b;
    padding: 7px 5px;
    border-radius: 9px;
}

.card-container {
    margin: 25px 20vw;
    padding: 15px;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    margin: 10px;
}

.card .day {
    font-weight: bolder;
    font-size: 1.3rem;
}

.seven-days {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0 20vw;
    padding: 15px;
    text-align: center;
    color: #989898;
}